body {
background-color: #d7b4f8;
color: white;
font-family: "Bai Jamjuree", sans-serif;
display: flex;
justify-content: center;
align-items: center;
height: 700px;
margin: 0;
}

button {
background-color: #caa2ff;
color: white;
font-family: "Bai Jamjuree", sans-serif;
}