body {
background-color: #59ff7d;
color: white;
font-family: "Bai Jamjuree", sans-serif;
display: flex;
justify-content: center;
align-items: center;
height: 700px;
margin: 0;
}

button {
background-color: #b0ff98;
color: white;
font-family: "Bai Jamjuree", sans-serif;
}